---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-display: auto;
}

a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-display: auto;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-display: auto;
}

h2 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 24px;
  font-display: auto;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h3 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-left: 0px;
  margin-right: 0px;

}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

/**
 * Wrapper
 */
 .wrapper {
  max-width: -webkit-calc(800px - (24px * 2));
  max-width: calc(800px - (24px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (24px));
    max-width: calc(800px - (24px));
    padding-right: 12px;
    padding-left: 12px;
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Site header
 */
 .site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 16px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  margin: 10px 0;
  display: inline-block;
  left: 20px;
}

.site-title, .site-title:visited {
  color: #524f4f;
}

.navigation-wrapper.has-logo .navigation-links {
  width: 70%;
  float: left;
}

@media screen and (max-width: 600px) {
  .navigation-wrapper.has-logo .navigation-links {
    width: 100%;
  }
}

.navigation-wrapper.has-logo .navigation-logo {
  width: 30%;
  float: left;
  padding: 12px;
  box-sizing: border-box;
  text-align: right;
  height: 95px;
}

.navigation-wrapper.has-logo .navigation-logo img {
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .navigation-wrapper.has-logo .navigation-logo {
    display: none;
  }
}

span.highlight {
  background-color: #ffffd0;
}

.journal-info, .journal-info:visited {
  color: #918e8e;
  font-size: 0.9rem;
}

.year, .year:visited {
  float: right;
  color: #918e8e;
  font-size: 0.9rem;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
